{% extends 'shop/base.html' %}
{% block title %}Sign Up{% endblock %}
{% load crispy_forms_tags %}
{% block body %}
<style>
    .errorlist{
    color:red;
    }
     body {
    background:url('/static/shop/back2.jpg');
background:url('/static/shop/back2.jpg');

background-position: center;
        background-repeat: no-repeat;
background-size: cover;
color:#fff;
    }
    .container{
    justify-contents:center;
    align-itmes:center;

    }
</style>
    <div class="container">
        <div class="row">
            <div class="col-md-6 mx-auto">
                <h3>User Registraion Form</h3><hr>
    <br>
    <form method="post" class="form-group">
        {% csrf_token %}
        {{form.as_p}}
        <p>Do you already have an account? Login<a href="/shop/login"> here</a></p>
        <button type="submit" class="btn btn-success">Register</button>
    </form>
            </div>
        </div>
    </div>
{% endblock %}